* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #7858A6;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    position: relative;
}

h1 {
    color: #8929ff;
    font-family: "Tangerine", Arial, Helvetica, sans-serif;
    font-size: 5rem;
    font-weight: bolder;
    margin-bottom: .5rem;
}

h2 {
    font-size: 3.5rem;
}

/* Header Section */

header {
    align-items: center;
    background-color: #371B58;
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

a {
    color: #ffffff;
    cursor: pointer;
    margin: 0 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    text-decoration: none;
}

.logo {
    font-family: "Tangerine", Arial, Helvetica, sans-serif;
    font-size: 4rem;
    font-weight: bolder;
    margin-left: 4rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.last {
    margin-right: 4rem;
}

/* Slide Section */

.slide {
    background-color: #371B58;
    height: 35rem;
    padding: 20rem;
}

.slide img {
    position: absolute;
    right: 8rem;
    top: 6.7rem;
    width: 40%;
}

.intro {
    position: relative;
    right: 23rem;
    top: -5rem;
    text-align: center;
}

.intro p {
    font-size: 1.5rem;
    margin-bottom: .5rem;

}

/* About Section */

#about {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 4rem auto;
    padding-top: 6rem;
    text-align: justify;
    width: 60%;
}

#about img {
    float: left;
    width: 25%;
}

.info {
    line-height: 1.5;
    margin: auto;
    width: 35%;
}